langchain_openai
openai
python-dotenv
torch
transformers
datasets
ipywidgets
langchain
langchain-community
chromadb
unstructured
unstructured[md]
ragas
rich
langchainhub
tiktoken
langsmith
fastapi
lancedb
langchain-together
llama-index

langchain_experimental
docarray
pydantic==1.10.8
ruff
bs4
ipytest
giskard[llm]

python-gemini-api